.scroll-container {
  position: absolute;
  text-align: center;
  right: 0;
  margin-right: 9px;
  overflow: hidden;
  flex-direction: column;
  margin-top: -45px;
  z-index: 100;
  cursor: pointer;
}

.main-footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.main-footer-content .main-footer-message span {
  margin: 0 0px 0 10px;
  font-size: 12px;
}

.main-footer-content .main-footer-socials .social-icon {
  color: #1f2235;
  margin: 0 0px 0 10px;
  font-size: 40px;
}
/* .social-icon {
  padding: 7px;
  color: white;
} */

.col i:hover {
  transform: scale(1.5);
}

@media only screen and (min-width: 475px) {
  .scroll-container {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .main-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
  }
}
.btn-scroll {
  width: 50px;
  height: 50px;
  color: aliceblue;
  font-size: 24px;
  background-color: tomato;
  border-radius: 10px;
  border: none;
}
.btn-scroll i:hover {
  transform: rotate(360deg);
  color: aliceblue;
}

.btn-scroll i {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

@keyframes mover {
  100% {
    transform: translateY(-5px);
  }
  0% {
    transform: translateX(0px);
  }
}
